@import '../../style/settings';
@import '../../style/colors';

.error-wrapper {
  width: $card-width;
  height: $card-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: $primary-color;
}

.error-label {
  text-align: center;
  font-size: 25pt;
  font-weight: bold;
}